# ArcGIS API for Python

## GeoEnrichment

**GeoEnrichment** provides the ability to get facts about a location or area. Using GeoEnrichment, you can get information about the people and places in a specific area or within a certain distance or drive time from a location. It enables you to query and use information from a large collection of data sets including population, income, housing, consumer behavior, and the natural environment.

This module enables you to answer questions about locations that you can't answer with maps alone. For example: What kind of people live here? What do people like to do in this area? What are their habits and lifestyles?

The `enrich()` method can be used to retrieve demographics and other relevant characteristics associated with the area surrounding the requested places. You can also use the `arcgis.geoenrichment` **module** to obtain additional geographic context (for example, the **ZIP Code** of a location) and geographic boundaries (for example, the geometry for a drive-time service area).

**Site analysis** is a popular application of this type of **data enrichment**. For example, GeoEnrichment can be leveraged to study the population that would be affected by the development of a new community center within their neighborhood. With the `enrich()` method, the proposed site can be submitted, and the demographics and other relevant characteristics associated with the area around the site will be returned.

A user must be logged on to a GIS in order to use GeoEnrichment. The geoenrichment functionality is available in the `arcgis.geoenrichment` **module**.

In [1]:
from arcgis.gis import GIS
from arcgis.geoenrichment import *
import configparser

In [2]:
# Считать свой API-key из файла
path = "../token/config.ini"
config = configparser.ConfigParser()
config.read(path)
token = config.get("Settings", "token")

In [3]:
gis = GIS(api_key=token)
type(gis)

arcgis.gis.GIS

### 1. GeoEnrichment coverage

In [4]:
# Query the countries for which there is GeoEnrichment data
countries = get_countries()
print("Number of countries, for which GeoEnrichment data is available: " + str(len(countries)))

Number of countries, for which GeoEnrichment data is available: 154

In [5]:
# Print a few countries for a sample
countries[0:10]

[<Country - Albania (GIS @ https://www.arcgis.com version:10.1)>,
 <Country - Algeria (GIS @ https://www.arcgis.com version:10.1)>,
 <Country - Andorra (GIS @ https://www.arcgis.com version:10.1)>,
 <Country - Angola (GIS @ https://www.arcgis.com version:10.1)>,
 <Country - Anguilla (GIS @ https://www.arcgis.com version:10.1)>,
 <Country - Argentina (GIS @ https://www.arcgis.com version:10.1)>,
 <Country - Armenia (GIS @ https://www.arcgis.com version:10.1)>,
 <Country - Aruba (GIS @ https://www.arcgis.com version:10.1)>,
 <Country - Australia (GIS @ https://www.arcgis.com version:10.1)>,
 <Country - Austria (GIS @ https://www.arcgis.com version:10.1)>]

### 2. Filtering countries by properties

In [6]:
# Gets the countries in Oceania
[country.properties.country_name for country in countries if country.properties.continent == 'Oceania']

['Australia',
 'Fiji',
 'French Polynesia',
 'New Caledonia',
 'New Zealand',
 'Papua New Guinea']

### 3. Discovering information for a country

In [7]:
# Country class can be used to discover the data collections, sub-geographies and available reports for a country
usa = Country.get('USA')
type(usa)

arcgis.geoenrichment.enrichment.Country

In [8]:
# Properties for the country are accessible using Country.properties
usa.properties

iso2                                                              US
iso3                                                             USA
country_name                                           United States
datasets           [USA_ESRI_2021, USA_ACS_2021, USA_ASR_2021, US...
default_dataset                                        USA_ESRI_2021
alt_name                                               UNITED STATES
continent                                              North America
Name: 147, dtype: object

In [9]:
usa.properties.country_name

'United States'

In [10]:
usa.properties.datasets

['USA_ESRI_2021',
 'USA_ACS_2021',
 'USA_ASR_2021',
 'USA_CRM_2021',
 'USA_DATAAXLE_2022',
 'USA_RMP_2021',
 'USA_SAFEGRAPH_2022',
 'USA_TRFCNT_2022',
 'USA_PL_2020',
 'Landscape']

### 4. Data collections and analysis variables

**GeoEnrichment** uses the **concept of a data collection** to define the data attributes returned by the enrichment service.

A **data collection** is a preassembled list of attributes that will be used to enrich the input features. Collection attributes can describe various types of information, such as demographic characteristics and geographic context of the locations or areas submitted as input features.

In [11]:
# data_collections property of a Country object lists its available data collections and analysis variables
data_frame = usa.data_collections
data_frame

,analysisVariable,alias,fieldCategory,vintage
dataCollectionID,,,,
1yearincrements,1yearincrements.AGE0_CY,2021 Population Age <1,2021 Age: 1 Year Increments (Esri),2021
1yearincrements,1yearincrements.AGE1_CY,2021 Population Age 1,2021 Age: 1 Year Increments (Esri),2021
1yearincrements,1yearincrements.AGE2_CY,2021 Population Age 2,2021 Age: 1 Year Increments (Esri),2021
1yearincrements,1yearincrements.AGE3_CY,2021 Population Age 3,2021 Age: 1 Year Increments (Esri),2021
1yearincrements,1yearincrements.AGE4_CY,2021 Population Age 4,2021 Age: 1 Year Increments (Esri),2021
...,...,...,...,...
yearmovedin,yearmovedin.MOEMEDYRMV,2019 Median Year Householder Moved In MOE (ACS...,2015-2019 Year Householder Moved In (ACS),2015-2019
yearmovedin,yearmovedin.RELMEDYRMV,2019 Median Year Householder Moved In REL (ACS...,2015-2019 Year Householder Moved In (ACS),2015-2019
yearmovedin,yearmovedin.ACSOWNER,2019 Owner Households (ACS 5-Yr),2015-2019 Key Demographic Indicators (ACS),2015-2019
yearmovedin,yearmovedin.MOEOWNER,2019 Owner Households MOE (ACS 5-Yr),2015-2019 Key Demographic Indicators (ACS),2015-2019
yearmovedin,yearmovedin.RELOWNER,2019 Owner Households REL (ACS 5-Yr),2015-2019 Key Demographic Indicators (ACS),2015-2019

In [12]:
# Print a few rows of the DataFrame
data_frame.head()

,analysisVariable,alias,fieldCategory,vintage
dataCollectionID,,,,
1yearincrements,1yearincrements.AGE0_CY,2021 Population Age <1,2021 Age: 1 Year Increments (Esri),2021
1yearincrements,1yearincrements.AGE1_CY,2021 Population Age 1,2021 Age: 1 Year Increments (Esri),2021
1yearincrements,1yearincrements.AGE2_CY,2021 Population Age 2,2021 Age: 1 Year Increments (Esri),2021
1yearincrements,1yearincrements.AGE3_CY,2021 Population Age 3,2021 Age: 1 Year Increments (Esri),2021
1yearincrements,1yearincrements.AGE4_CY,2021 Population Age 4,2021 Age: 1 Year Increments (Esri),2021

In [13]:
# Call the shape property to get the total number of rows and columns
data_frame.shape

(19153, 4)

- Each **data collection** and **analysis variable** has a unique ID
- When calling the `enrich()` method (explained later in this guide) these analysis variables can be passed in the `data_collections` and `analysis_variables` parameters
- You can filter the `data_collections` and query the collections `analysis_variables` using Pandas expressions

In [14]:
# Get all the unique data collections available
data_frame.index.unique()

Index(['1yearincrements', '5yearincrements', 'ACS_Housing_Summary_rep',
       'ACS_Population_Summary_rep', 'Age', 'AgeDependency',
       'Age_50_Profile_rep', 'Age_by_Sex_Profile_rep',
       'Age_by_Sex_by_Race_Profile_rep', 'AtRisk',
       ...
       'transportation', 'travelMPI', 'unitsinstructure',
       'urbanizationgroupsNEW', 'vacant', 'vehiclesavailable', 'veterans',
       'women', 'yearbuilt', 'yearmovedin'],
      dtype='object', name='dataCollectionID', length=161)

In [16]:
# Query the Age data collection
age_dc = data_frame.loc['Age']
age_dc.head()

,analysisVariable,alias,fieldCategory,vintage
dataCollectionID,,,,
Age,Age.MALE0,2021 Males Age 0-4,2021 Age: 5 Year Increments (Esri),2021
Age,Age.MALE5,2021 Males Age 5-9,2021 Age: 5 Year Increments (Esri),2021
Age,Age.MALE10,2021 Males Age 10-14,2021 Age: 5 Year Increments (Esri),2021
Age,Age.MALE15,2021 Males Age 15-19,2021 Age: 5 Year Increments (Esri),2021
Age,Age.MALE20,2021 Males Age 20-24,2021 Age: 5 Year Increments (Esri),2021

In [17]:
# Get all the unique analysisVariables under collection
age_dc['analysisVariable'].unique()

array(['Age.MALE0', 'Age.MALE5', 'Age.MALE10', 'Age.MALE15', 'Age.MALE20',
       'Age.MALE25', 'Age.MALE30', 'Age.MALE35', 'Age.MALE40',
       'Age.MALE45', 'Age.MALE50', 'Age.MALE55', 'Age.MALE60',
       'Age.MALE65', 'Age.MALE70', 'Age.MALE75', 'Age.MALE80',
       'Age.MALE85', 'Age.FEM0', 'Age.FEM5', 'Age.FEM10', 'Age.FEM15',
       'Age.FEM20', 'Age.FEM25', 'Age.FEM30', 'Age.FEM35', 'Age.FEM40',
       'Age.FEM45', 'Age.FEM50', 'Age.FEM55', 'Age.FEM60', 'Age.FEM65',
       'Age.FEM70', 'Age.FEM75', 'Age.FEM80', 'Age.FEM85'], dtype=object)

### 5. Available reports

**GeoEnrichment** also enables you to create many types of high quality **reports** for a variety of use cases describing the **input area**.

The `reports` property of a `Country` object lists its available reports as a Pandas DataFrame. The report `id` is used as an input in the `create_report()` method to create reports.

In [18]:
# Print a sample of the reports, available for USA
usa.reports.head(5)

,id,title,categories,formats
0,census2010_profile,2010 Census Profile,[Demographics],"[pdf, xlsx]"
1,acs_housing,ACS Housing Summary,[Demographics],"[pdf, xlsx]"
2,acs_keyfacts,ACS Key Population & Household Facts,[Demographics],"[pdf, xlsx]"
3,acs_population,ACS Population Summary,[Demographics],"[pdf, xlsx]"
4,55plus,Age 50+ Profile,[Demographics],"[pdf, xlsx]"

In [19]:
# Total number of reports available
usa.reports.shape

(53, 4)

### 6. Finding named statistical areas

Each country has several **named statistical areas** in a hierarchy of geography levels (such as **states**, **counties**, **zip-codes**, etc).

The `subgeographies` property of a country can be used to discover these standard geographic/statistical areas within that country.

This information is available through a heirarchy of dynamic properties (like states, counties, tracts, zip-codes,...). Each such dynamic property reflects the geographical levels within that country, with subgeographies grouped logically under the higher levels of geographies. The properties are dictionaries containing the names of the standard geographic places and their values are instances of `NamedArea` class. The `NamedArea` objects can be used as **study areas** in the `enrich()` method.

Note: Setting the `IPCompleter.greedy=True` configuration option in **Jupyter notebook** enables you to dynamically discover the various levels of subgeographies using intellisense, as in the example below.

In [23]:
%config IPCompleter.greedy=True

In [24]:
%config IPCompleter.greedy

True

In [25]:
named_area_usa = usa.subgeographies
named_area_usa

In [26]:
named_area_usa.states['California']

In [27]:
named_area_usa.states['California'].counties['San_Bernardino_County']

In [28]:
named_area_usa.states['California'].counties['San_Bernardino_County'].tracts['060710001.03']

In [29]:
usa.subgeographies.states['California'].zip5['92373']

**The named areas can also be drawn on a map, as they include a `geometry` property:**

In [30]:
redlands = gis.map('Redlands, CA', zoomlevel=11)
redlands

MapView(layout=Layout(height='400px', width='100%'))

In [31]:
# Draw a subgeography on the map above
redlands.draw(usa.subgeographies.states['California'].zip5['92373'].geometry)

In [32]:
india_map = gis.map('India', zoomlevel=5)
india_map

MapView(layout=Layout(height='400px', width='100%'))

In [33]:
india = Country.get('India')

In [34]:
# Print the available datasets
india.properties.datasets

['IND_MBR_2020']

In [35]:
# View the current dataset of the country
india.dataset

'IND_MBR_2020'

In [36]:
# Inspect the various subgeographies
india.subgeographies.states['Uttar_Pradesh'].districts['Baghpat'].subdistricts['Baraut']

### 7. Searching for named areas within a country

In [37]:
riversides_in_usa = usa.search('Riverside')
print("Number of riversides in USA: " + str(len(riversides_in_usa)))

Number of riversides in USA: 147

In [38]:
# List a few of them
riversides_in_usa[:5]

[<NamedArea name:"Riverside" area_id="147435", level="Cities", country="147">,
 <NamedArea name:"Riverside" area_id="147436", level="Cities", country="147">,
 <NamedArea name:"Riverside" area_id="147437", level="Cities", country="147">,
 <NamedArea name:"Riverside" area_id="147438", level="Cities", country="147">,
 <NamedArea name:"Riverside" area_id="147439", level="Cities", country="147">]

**You can make a map of all the riversides in the US:**

In [39]:
usa_map = gis.map('United States', zoomlevel=4)
usa_map

MapView(layout=Layout(height='400px', width='100%'))

In [40]:
# Draw on the map above
for riverside in riversides_in_usa:
    usa_map.draw(riverside.geometry)

**Filtering named areas by geography level:**

In [43]:
usa_levels = [level for level in usa.levels]
usa_levels[:2]

[{'id': 'US.WholeUSA',
  'name': 'Entire Country',
  'isWholeCountry': True,
  'adminLevel': 'Admin1',
  'singularName': 'United States of America',
  'pluralName': 'United States of America',
  'defaultGeneralizationLevel': 6},
 {'id': 'US.States',
  'name': 'States',
  'isWholeCountry': False,
  'adminLevel': 'Admin2',
  'singularName': 'State',
  'pluralName': 'States',
  'defaultGeneralizationLevel': 5}]

In [44]:
usa_levels_ids = [level['id'] for level in usa.levels]
usa_levels_ids

['US.WholeUSA',
 'US.States',
 'US.DMA',
 'US.CD',
 'US.CBSA',
 'US.Counties',
 'US.CSD',
 'US.ZIP5',
 'US.Places',
 'US.Tracts',
 'US.BlockGroups']

In [45]:
usa.search(query='Riverside', layers=['US.Counties'])

### 8. Working with study Areas

**GeoEnrichment** uses the concept of a **study area** to define the location of the point or area that you want to enrich with additional information or create reports about.

Accepted forms of **study areas**:
- **Street address locations**: `"380 New York St, Redlands, CA"`
- **Multiple field input addresses** (using dictionaries): `{"Address" : "380 New York Street", "City" : "Redlands", "Region" : "CA", "Postal" : 92373}`
- **Point and line locations, using `arcgis.geometry` instances**: `arcgis.geometry.Geometry({"x":-122.435,"y":37.785})`
- **Buffered study areas**: `BufferStudyArea` instances to change the ring buffer size or create drive-time service areas around points specified using one of the above methods. BufferStudyArea allows you to buffer point and street address study areas. *They can be created using the following parameters*:
  - *area*: the point geometry or street address (string) study area to be buffered
  - *radii*: list of distances by which to buffer the study area, eg. [1, 2, 3]
  - *units*: distance unit, eg. Miles, Kilometers, Minutes (when using drive times/travel_mode)
  - *overlap*: boolean, uses overlapping rings/network service areas when True, or non-overlapping disks when False
  - *travel_mode*: None or string, one of the supported travel modes when using network service areas

- **Network service areas** - `BufferStudyArea` also allows you to define drive time service areas around points as well as other advanced service areas such as walking and trucking.
- **Named statistical areas** - In all previous examples of different **study area** types, locations were defined as either points or polygons. Study area locations can also be passed as one or many named statistical areas. This form of study area lets you define an area as a standard geographic statistical feature, such as a census or postal area, for example, to obtain enrichment information for a U.S. state, county, or ZIP Code or a Canadian province or postal code. When the `NamedArea` instances should be combined together (union), a list of such `NamedArea` instances should constitute a study area in the list of requested study areas.
- **Polygon geometries** - Locations can given as polygon geometries.

In [46]:
from arcgis.geometry import Geometry

In [47]:
# Buffered study areas. Example:
geometry1 = Geometry({"x":-122.435,"y":37.785})
buffered_area1 = BufferStudyArea(area=geometry1, radii=[1,2,3], units="Miles", overlap=False)
buffered_area1

BufferStudyArea(area={'x': -122.435, 'y': 37.785}, radii=[1, 2, 3], units='Miles', overlap=False, travel_mode=None)

In [48]:
# Network service areas. Example:
geometry2 = Geometry({"x":-122.435,"y":37.785})
buffered_area2 = BufferStudyArea(area=geometry2, radii=[1,4,7], units="Minutes", travel_mode="Driving")
buffered_area2

BufferStudyArea(area={'x': -122.435, 'y': 37.785}, radii=[1, 4, 7], units='Minutes', overlap=True, travel_mode='Driving')

In [49]:
# Named statistical areas. Example:
usa.subgeographies.states['California'].zip5['92373']

### 9. Creating Reports

The `create_report` method allows you to create many types of high quality reports for a variety of use cases describing the input area.

If a point is used as a study area, the service will create a **1 mile ring buffer** around the point to collect and append **enrichment data**. Optionally, you can create a buffer ring or drive time service area around points of interest to generate **PDF** or **Excel** reports containing relevant information for the area on demographics, consumer spending, tapestry market, etc.

In [50]:
report = create_report(
    study_areas=["380 New York Street, Redlands, CA"],
    report="tapestry_profileNEW",
    export_format="PDF",
    out_folder=r".\reports",
    out_name="esri_tapestry_profile.pdf"
)

report

'.\\reports\\esri_tapestry_profile.pdf'

### 10. Enriching study areas

The `enrich()` method returns a `SpatialDataFrame` that can either be used for mapping via the `gis.content.import_data()` method or for further analysis. If `return_geometry` is set to `False`, a Pandas DataFrame is returned instead.

**Enriching an existing feature layer**: The examples to be shown below return you a new `SpatialDataFrame` that you can save as a new `Item` in your GIS, use for analysis or visualize on a map. However, if you would like to enrich an existing `FeatureLayer` by adding new data, then use the `enrich_layer()` method from the `features` module.

**Example: Enriching a named statistical area**  
Enriching *zip code 92373* in California using the *'Age'* data collection:

In [51]:
redlands = usa.subgeographies.states['California'].zip5['92373']
redlands

In [52]:
enriched_redlands = enrich(study_areas=[redlands], data_collections=['Age'])
enriched_redlands

,ID,OBJECTID,StdGeographyLevel,StdGeographyName,StdGeographyID,sourceCountry,aggregationMethod,populationToPolygonSizeRating,apportionmentConfidence,HasData,...,FEM45,FEM50,FEM55,FEM60,FEM65,FEM70,FEM75,FEM80,FEM85,SHAPE
0,0,1,US.ZIP5,Redlands,92373,US,Query:US.ZIP5,2.191,2.576,1,...,1056,1106,1158,1234,1127,982,673,471,699,"{""rings"": [[[-117.23452000005528, 34.065769999..."

**Example: Enrich all counties in a state**

In [53]:
ca_counties = usa.subgeographies.states['California'].counties

In [57]:
counties_df = enrich(study_areas=ca_counties, data_collections=['Age'])
counties_df.head(4)

,ID,OBJECTID,StdGeographyLevel,StdGeographyName,StdGeographyID,sourceCountry,aggregationMethod,populationToPolygonSizeRating,apportionmentConfidence,HasData,...,FEM45,FEM50,FEM55,FEM60,FEM65,FEM70,FEM75,FEM80,FEM85,SHAPE
0,0,1,US.Counties,Alameda County,06001,US,Query:US.Counties,2.191,2.576,1,...,54137,52917,54513,51522,44475,36609,24113,15817,18673,"{""rings"": [[[-122.2716789998329, 37.9047240001..."
1,1,2,US.Counties,Alpine County,06003,US,Query:US.Counties,2.191,2.576,1,...,28,38,48,41,65,28,21,13,6,"{""rings"": [[[-119.90059599883206, 38.930759999..."
2,2,3,US.Counties,Amador County,06005,US,Query:US.Counties,2.191,2.576,1,...,990,1146,1548,1848,1721,1582,998,693,718,"{""rings"": [[[-120.07763899965389, 38.708886999..."
3,3,4,US.Counties,Butte County,06007,US,Query:US.Counties,2.191,2.576,1,...,5120,5507,6507,6933,6625,5496,3751,2502,3350,"{""rings"": [[[-121.4046210002662, 40.1466409995..."

**Example: Using comparison levels**

The information for the study areas can also be compared with standard geography areas in other levels. In the example below, the `92373 zip code` intersects with both `Riverside` and `San Bernardino` counties in California, and hence both these counties as well as the state of California are returned along with the results for the named zip code, as the comparison levels includes both States and Counties.

In [60]:
enrich(
    study_areas=[redlands], 
    data_collections=['Age'], 
    comparison_levels=['US.Counties', 'US.States']
)

,ID,OBJECTID,StdGeographyLevel,StdGeographyName,StdGeographyID,sourceCountry,aggregationMethod,populationToPolygonSizeRating,apportionmentConfidence,HasData,...,FEM45,FEM50,FEM55,FEM60,FEM65,FEM70,FEM75,FEM80,FEM85,SHAPE
0,0,1,US.ZIP5,Redlands,92373,US,Query:US.ZIP5,2.191,2.576,1,...,1056,1106,1158,1234,1127,982,673,471,699,"{""rings"": [[[-117.23452000005528, 34.065769999..."
1,0,2,US.Counties,Riverside County,06065,US,Query:US.Counties,2.191,2.576,1,...,69773,69228,71626,69388,61325,52276,37158,24805,25568,NaN
2,0,3,US.Counties,San Bernardino County,06071,US,Query:US.Counties,2.191,2.576,1,...,63503,62699,64570,60968,50621,38877,25284,16071,16304,NaN
3,0,4,US.States,California,06,US,Query:US.States,2.191,2.576,1,...,1183234,1188505,1232694,1193385,1032496,849680,579334,385741,444788,NaN

**Example: Enriching street address**

The example below uses a street address as a study area instead.

In [61]:
enrich(
    study_areas=["380 New York St Redlands CA 92373"],       
    data_collections=['Age'], 
    comparison_levels=['US.Counties', 'US.States']
)

,ID,OBJECTID,sourceCountry,X,Y,areaType,bufferUnits,bufferUnitsAlias,bufferRadii,aggregationMethod,...,FEM45,FEM50,FEM55,FEM60,FEM65,FEM70,FEM75,FEM80,FEM85,SHAPE
0,0,1,US,-117.19479,34.057265,RingBuffer,esriMiles,Miles,1.0,BlockApportionment:US.BlockGroups;PointsLayer:...,...,366,382,369,342,315,264,162,100,125,"{""rings"": [[[-117.19479001927878, 34.071773611..."
1,0,2,US,-117.19479,34.057265,NaN,NaN,NaN,NaN,Query:US.Counties,...,63503,62699,64570,60968,50621,38877,25284,16071,16304,NaN
2,0,3,US,-117.19479,34.057265,NaN,NaN,NaN,NaN,Query:US.States,...,1183234,1188505,1232694,1193385,1032496,849680,579334,385741,444788,NaN

**Example: Buffering locations using non overlapping disks (неперекрывающиеся диски)**

The example below creates non-overlapping disks of radii 1, 3 and 5 Miles respectively from a street address and enriches these using the 'Age' data collection.

In [62]:
buffered = BufferStudyArea(
    area='380 New York St Redlands CA 92373',
    radii=[1,3,5], 
    units='Miles', 
    overlap=False
)

enrich(
    study_areas=[buffered], 
    data_collections=['Age']
)

,ID,OBJECTID,sourceCountry,X,Y,areaType,bufferUnits,bufferUnitsAlias,bufferRadii,aggregationMethod,...,FEM45,FEM50,FEM55,FEM60,FEM65,FEM70,FEM75,FEM80,FEM85,SHAPE
0,0,1,US,-117.19479,34.057265,RingBufferBands,Miles,Miles,1,BlockApportionment:US.BlockGroups;PointsLayer:...,...,366,382,369,342,315,264,162,100,125,"{""rings"": [[[-117.19479001927878, 34.071773611..."
1,0,2,US,-117.19479,34.057265,RingBufferBands,Miles,Miles,3,BlockApportionment:US.BlockGroups;PointsLayer:...,...,1925,1918,2015,2119,1821,1473,1014,721,947,"{""rings"": [[[-117.19479001927878, 34.100790740..."
2,0,3,US,-117.19479,34.057265,RingBufferBands,Miles,Miles,5,BlockApportionment:US.BlockGroups;PointsLayer:...,...,2312,2391,2534,2448,2048,1604,1102,799,1061,"{""rings"": [[[-117.19479001927878, 34.129807732..."

**Example: Using drive times as study areas**

The example below creates 5 and 10 minute drive times from a street address and enriches these using the 'Age' data collection.

In [68]:
buffered = BufferStudyArea(
    area='380 New York St Redlands CA 92373', 
    radii=[5, 10], 
    units='Minutes',
    travel_mode='Driving'
)

drive_time_df = enrich(
    study_areas=[buffered], 
    data_collections=['Age']
)

In [69]:
drive_time_df

,ID,OBJECTID,sourceCountry,X,Y,areaType,bufferUnits,bufferUnitsAlias,bufferRadii,aggregationMethod,...,FEM45,FEM50,FEM55,FEM60,FEM65,FEM70,FEM75,FEM80,FEM85,SHAPE
0,0,1,US,-117.19479,34.057265,NetworkServiceArea,Minutes,Drive Time Minutes,5,BlockApportionment:US.BlockGroups;PointsLayer:...,...,475,489,489,456,418,345,222,144,188,"{""rings"": [[[-117.19996384486102, 34.076283040..."
1,0,2,US,-117.19479,34.057265,NetworkServiceArea,Minutes,Drive Time Minutes,10,BlockApportionment:US.BlockGroups;PointsLayer:...,...,2795,2794,2921,2979,2564,2095,1422,1027,1496,"{""rings"": [[[-117.19345108869554, 34.134673265..."