# ArcGIS API for Python

## GeoEnrichment

**GeoEnrichment** provides the ability to get facts about a location or area. Using GeoEnrichment, you can get information about the people and places in a specific area or within a certain distance or drive time from a location. It enables you to query and use information from a large collection of data sets including population, income, housing, consumer behavior, and the natural environment.

This module enables you to answer questions about locations that you can't answer with maps alone. For example: What kind of people live here? What do people like to do in this area? What are their habits and lifestyles?

The `enrich()` method can be used to retrieve demographics and other relevant characteristics associated with the area surrounding the requested places. You can also use the `arcgis.geoenrichment` **module** to obtain additional geographic context (for example, the **ZIP Code** of a location) and geographic boundaries (for example, the geometry for a drive-time service area).

**Site analysis** is a popular application of this type of **data enrichment**. For example, GeoEnrichment can be leveraged to study the population that would be affected by the development of a new community center within their neighborhood. With the `enrich()` method, the proposed site can be submitted, and the demographics and other relevant characteristics associated with the area around the site will be returned.

A user must be logged on to a GIS in order to use GeoEnrichment. The geoenrichment functionality is available in the `arcgis.geoenrichment` **module**.

In [1]:
from arcgis.gis import GIS
from arcgis.geoenrichment import *

gis = GIS(api_key="AAPK76acad6bd0134c9fb64b9e549a4126c8gKoG7GT1JuRsY7v2xsCzqFY2OYTi9IBgNFdQYnpqcR1UO21spahGxjpY_rS1a7qE")

### 1. GeoEnrichment coverage

In [2]:
# Query the countries for which there is GeoEnrichment data
countries = get_countries()
print("Number of countries, for which GeoEnrichment data is available: " + str(len(countries)))

Number of countries, for which GeoEnrichment data is available: 154

In [3]:
# Print a few countries for a sample
countries[0:10]

[<Country - Albania (GIS @ https://www.arcgis.com version:10.1)>,
 <Country - Algeria (GIS @ https://www.arcgis.com version:10.1)>,
 <Country - Andorra (GIS @ https://www.arcgis.com version:10.1)>,
 <Country - Angola (GIS @ https://www.arcgis.com version:10.1)>,
 <Country - Anguilla (GIS @ https://www.arcgis.com version:10.1)>,
 <Country - Argentina (GIS @ https://www.arcgis.com version:10.1)>,
 <Country - Armenia (GIS @ https://www.arcgis.com version:10.1)>,
 <Country - Aruba (GIS @ https://www.arcgis.com version:10.1)>,
 <Country - Australia (GIS @ https://www.arcgis.com version:10.1)>,
 <Country - Austria (GIS @ https://www.arcgis.com version:10.1)>]

### 2. Filtering countries by properties

In [4]:
# Gets the countries in Oceania
[country.properties.country_name for country in countries if country.properties.continent == 'Oceania']

['Australia',
 'Fiji',
 'French Polynesia',
 'New Caledonia',
 'New Zealand',
 'Papua New Guinea']

### 3. Discovering information for a country

In [5]:
# Country class can be used to discover the data collections, sub-geographies and available reports for a country
usa = Country.get('USA')
type(usa)

arcgis.geoenrichment.enrichment.Country

In [6]:
# Properties for the country are accessible using Country.properties
usa.properties

iso2                                                              US
iso3                                                             USA
country_name                                           United States
datasets           [USA_ESRI_2021, USA_ACS_2021, USA_ASR_2021, US...
default_dataset                                        USA_ESRI_2021
alt_name                                               UNITED STATES
continent                                              North America
Name: 147, dtype: object

In [7]:
usa.properties.country_name

'United States'

In [8]:
usa.properties.datasets

['USA_ESRI_2021',
 'USA_ACS_2021',
 'USA_ASR_2021',
 'USA_CRM_2021',
 'USA_DATAAXLE_2022',
 'USA_RMP_2021',
 'USA_SAFEGRAPH_2022',
 'USA_TRFCNT_2022',
 'USA_PL_2020',
 'Landscape']

### 4. Data collections and analysis variables

**GeoEnrichment** uses the **concept of a data collection** to define the data attributes returned by the enrichment service.

A **data collection** is a preassembled list of attributes that will be used to enrich the input features. Collection attributes can describe various types of information, such as demographic characteristics and geographic context of the locations or areas submitted as input features.

In [9]:
# data_collections property of a Country object lists its available data collections and analysis variables
data_frame = usa.data_collections
data_frame

,analysisVariable,alias,fieldCategory,vintage
dataCollectionID,,,,
1yearincrements,1yearincrements.AGE0_CY,2021 Population Age <1,2021 Age: 1 Year Increments (Esri),2021
1yearincrements,1yearincrements.AGE1_CY,2021 Population Age 1,2021 Age: 1 Year Increments (Esri),2021
1yearincrements,1yearincrements.AGE2_CY,2021 Population Age 2,2021 Age: 1 Year Increments (Esri),2021
1yearincrements,1yearincrements.AGE3_CY,2021 Population Age 3,2021 Age: 1 Year Increments (Esri),2021
1yearincrements,1yearincrements.AGE4_CY,2021 Population Age 4,2021 Age: 1 Year Increments (Esri),2021
...,...,...,...,...
yearmovedin,yearmovedin.MOEMEDYRMV,2019 Median Year Householder Moved In MOE (ACS...,2015-2019 Year Householder Moved In (ACS),2015-2019
yearmovedin,yearmovedin.RELMEDYRMV,2019 Median Year Householder Moved In REL (ACS...,2015-2019 Year Householder Moved In (ACS),2015-2019
yearmovedin,yearmovedin.ACSOWNER,2019 Owner Households (ACS 5-Yr),2015-2019 Key Demographic Indicators (ACS),2015-2019
yearmovedin,yearmovedin.MOEOWNER,2019 Owner Households MOE (ACS 5-Yr),2015-2019 Key Demographic Indicators (ACS),2015-2019
yearmovedin,yearmovedin.RELOWNER,2019 Owner Households REL (ACS 5-Yr),2015-2019 Key Demographic Indicators (ACS),2015-2019

In [10]:
# Print a few rows of the DataFrame
data_frame.head()

,analysisVariable,alias,fieldCategory,vintage
dataCollectionID,,,,
1yearincrements,1yearincrements.AGE0_CY,2021 Population Age <1,2021 Age: 1 Year Increments (Esri),2021
1yearincrements,1yearincrements.AGE1_CY,2021 Population Age 1,2021 Age: 1 Year Increments (Esri),2021
1yearincrements,1yearincrements.AGE2_CY,2021 Population Age 2,2021 Age: 1 Year Increments (Esri),2021
1yearincrements,1yearincrements.AGE3_CY,2021 Population Age 3,2021 Age: 1 Year Increments (Esri),2021
1yearincrements,1yearincrements.AGE4_CY,2021 Population Age 4,2021 Age: 1 Year Increments (Esri),2021

In [11]:
# Call the shape property to get the total number of rows and columns
data_frame.shape

(19153, 4)

- Each **data collection** and **analysis variable** has a unique ID
- When calling the `enrich()` method (explained later in this guide) these analysis variables can be passed in the `data_collections` and `analysis_variables` parameters
- You can filter the `data_collections` and query the collections `analysis_variables` using Pandas expressions

In [12]:
# Get all the unique data collections available
data_frame.index.unique()

Index(['1yearincrements', '5yearincrements', 'ACS_Housing_Summary_rep',
       'ACS_Population_Summary_rep', 'Age', 'AgeDependency',
       'Age_50_Profile_rep', 'Age_by_Sex_Profile_rep',
       'Age_by_Sex_by_Race_Profile_rep', 'AtRisk',
       ...
       'transportation', 'travelMPI', 'unitsinstructure',
       'urbanizationgroupsNEW', 'vacant', 'vehiclesavailable', 'veterans',
       'women', 'yearbuilt', 'yearmovedin'],
      dtype='object', name='dataCollectionID', length=161)

In [13]:
# Query the Age data collection
age_dc = data_frame.loc['Age']
age_dc

,analysisVariable,alias,fieldCategory,vintage
dataCollectionID,,,,
Age,Age.MALE0,2021 Males Age 0-4,2021 Age: 5 Year Increments (Esri),2021
Age,Age.MALE5,2021 Males Age 5-9,2021 Age: 5 Year Increments (Esri),2021
Age,Age.MALE10,2021 Males Age 10-14,2021 Age: 5 Year Increments (Esri),2021
Age,Age.MALE15,2021 Males Age 15-19,2021 Age: 5 Year Increments (Esri),2021
Age,Age.MALE20,2021 Males Age 20-24,2021 Age: 5 Year Increments (Esri),2021
Age,Age.MALE25,2021 Males Age 25-29,2021 Age: 5 Year Increments (Esri),2021
Age,Age.MALE30,2021 Males Age 30-34,2021 Age: 5 Year Increments (Esri),2021
Age,Age.MALE35,2021 Males Age 35-39,2021 Age: 5 Year Increments (Esri),2021
Age,Age.MALE40,2021 Males Age 40-44,2021 Age: 5 Year Increments (Esri),2021
Age,Age.MALE45,2021 Males Age 45-49,2021 Age: 5 Year Increments (Esri),2021
Age,Age.MALE50,2021 Males Age 50-54,2021 Age: 5 Year Increments (Esri),2021
Age,Age.MALE55,2021 Males Age 55-59,2021 Age: 5 Year Increments (Esri),2021
Age,Age.MALE60,2021 Males Age 60-64,2021 Age: 5 Year Increments (Esri),2021
Age,Age.MALE65,2021 Males Age 65-69,2021 Age: 5 Year Increments (Esri),2021
Age,Age.MALE70,2021 Males Age 70-74,2021 Age: 5 Year Increments (Esri),2021
Age,Age.MALE75,2021 Males Age 75-79,2021 Age: 5 Year Increments (Esri),2021
Age,Age.MALE80,2021 Males Age 80-84,2021 Age: 5 Year Increments (Esri),2021
Age,Age.MALE85,2021 Males Age 85+,2021 Age: 5 Year Increments (Esri),2021
Age,Age.FEM0,2021 Females Age 0-4,2021 Age: 5 Year Increments (Esri),2021
Age,Age.FEM5,2021 Females Age 5-9,2021 Age: 5 Year Increments (Esri),2021
Age,Age.FEM10,2021 Females Age 10-14,2021 Age: 5 Year Increments (Esri),2021
Age,Age.FEM15,2021 Females Age 15-19,2021 Age: 5 Year Increments (Esri),2021
Age,Age.FEM20,2021 Females Age 20-24,2021 Age: 5 Year Increments (Esri),2021
Age,Age.FEM25,2021 Females Age 25-29,2021 Age: 5 Year Increments (Esri),2021
Age,Age.FEM30,2021 Females Age 30-34,2021 Age: 5 Year Increments (Esri),2021
Age,Age.FEM35,2021 Females Age 35-39,2021 Age: 5 Year Increments (Esri),2021
Age,Age.FEM40,2021 Females Age 40-44,2021 Age: 5 Year Increments (Esri),2021
Age,Age.FEM45,2021 Females Age 45-49,2021 Age: 5 Year Increments (Esri),2021
Age,Age.FEM50,2021 Females Age 50-54,2021 Age: 5 Year Increments (Esri),2021
Age,Age.FEM55,2021 Females Age 55-59,2021 Age: 5 Year Increments (Esri),2021
Age,Age.FEM60,2021 Females Age 60-64,2021 Age: 5 Year Increments (Esri),2021
Age,Age.FEM65,2021 Females Age 65-69,2021 Age: 5 Year Increments (Esri),2021
Age,Age.FEM70,2021 Females Age 70-74,2021 Age: 5 Year Increments (Esri),2021
Age,Age.FEM75,2021 Females Age 75-79,2021 Age: 5 Year Increments (Esri),2021
Age,Age.FEM80,2021 Females Age 80-84,2021 Age: 5 Year Increments (Esri),2021
Age,Age.FEM85,2021 Females Age 85+,2021 Age: 5 Year Increments (Esri),2021

In [14]:
# Get all the unique analysisVariables under collection
age_dc['analysisVariable'].unique()

array(['Age.MALE0', 'Age.MALE5', 'Age.MALE10', 'Age.MALE15', 'Age.MALE20',
       'Age.MALE25', 'Age.MALE30', 'Age.MALE35', 'Age.MALE40',
       'Age.MALE45', 'Age.MALE50', 'Age.MALE55', 'Age.MALE60',
       'Age.MALE65', 'Age.MALE70', 'Age.MALE75', 'Age.MALE80',
       'Age.MALE85', 'Age.FEM0', 'Age.FEM5', 'Age.FEM10', 'Age.FEM15',
       'Age.FEM20', 'Age.FEM25', 'Age.FEM30', 'Age.FEM35', 'Age.FEM40',
       'Age.FEM45', 'Age.FEM50', 'Age.FEM55', 'Age.FEM60', 'Age.FEM65',
       'Age.FEM70', 'Age.FEM75', 'Age.FEM80', 'Age.FEM85'], dtype=object)

### 5. Available reports

**GeoEnrichment** also enables you to create many types of high quality **reports** for a variety of use cases describing the **input area**.

The `reports` property of a `Country` object lists its available reports as a Pandas DataFrame. The report `id` is used as an input in the `create_report()` method to create reports.

In [15]:
# Print a sample of the reports, available for USA
usa.reports.head(5)

,id,title,categories,formats
0,census2010_profile,2010 Census Profile,[Demographics],"[pdf, xlsx]"
1,acs_housing,ACS Housing Summary,[Demographics],"[pdf, xlsx]"
2,acs_keyfacts,ACS Key Population & Household Facts,[Demographics],"[pdf, xlsx]"
3,acs_population,ACS Population Summary,[Demographics],"[pdf, xlsx]"
4,55plus,Age 50+ Profile,[Demographics],"[pdf, xlsx]"

In [16]:
# Total number of reports available
usa.reports.shape

(53, 4)

### 6. Finding named statistical areas

Each country has several **named statistical areas** in a hierarchy of geography levels (such as **states**, **counties**, **zip-codes**, etc).

The `subgeographies` property of a country can be used to discover these standard geographic/statistical areas within that country.

This information is available through a heirarchy of dynamic properties (like states, counties, tracts, zip-codes,...). Each such dynamic property reflects the geographical levels within that country, with subgeographies grouped logically under the higher levels of geographies. The properties are dictionaries containing the names of the standard geographic places and their values are instances of `NamedArea` class. The `NamedArea` objects can be used as **study areas** in the `enrich()` method.

Note: Setting the `IPCompleter.greedy=True` configuration option in **Jupyter notebook** enables you to dynamically discover the various levels of subgeographies using intellisense, as in the example below.

In [17]:
%config IPCompleter.greedy=True

In [18]:
%config IPCompleter

IPCompleter(Completer) options
----------------------------
IPCompleter.backslash_combining_completions=<Bool>
    Enable unicode completions, e.g. \alpha<tab> . Includes completion of latex
    commands, unicode names, and expanding unicode characters back to latex
    commands.
    Current: True
IPCompleter.debug=<Bool>
    Enable debug for the Completer. Mostly print extra information for
    experimental jedi integration.
    Current: False
IPCompleter.greedy=<Bool>
    Activate greedy completion
            PENDING DEPRECATION. this is now mostly taken care of with Jedi.
            This will enable completion on elements of lists, results of function calls, etc.,
            but can be unsafe because the code is actually evaluated on TAB.
    Current: True
IPCompleter.jedi_compute_type_timeout=<Int>
    Experimental: restrict time (in milliseconds) during which Jedi can compute types.
            Set to 0 to stop computing types. Non-zero value lower than 100ms may hurt
            performance by preventing jedi to build its cache.
    Current: 400
IPCompleter.limit_to__all__=<Bool>
    DEPRECATED as of version 5.0.
    Instruct the completer to use __all__ for the completion
    Specifically, when completing on ``object.<tab>``.
    When True: only those names in obj.__all__ will be included.
    When False [default]: the __all__ attribute is ignored
    Current: False
IPCompleter.merge_completions=<Bool>
    Whether to merge completion results into a single list
            If False, only the completion results from the first non-empty
            completer will be returned.
    Current: True
IPCompleter.omit__names=<Enum>
    Instruct the completer to omit private method names
            Specifically, when completing on ``object.<tab>``.
            When 2 [default]: all names that start with '_' will be excluded.
            When 1: all 'magic' names (``__foo__``) will be excluded.
            When 0: nothing will be excluded.
    Choices: any of [0, 1, 2]
    Current: 2
IPCompleter.profile_completions=<Bool>
    If True, emit profiling data for completion subsystem using cProfile.
    Current: False
IPCompleter.profiler_output_dir=<Unicode>
    Template for path at which to output profile data for completions.
    Current: '.completion_profiles'
IPCompleter.use_jedi=<Bool>
    Experimental: Use Jedi to generate autocompletions. Default to True if jedi
    is installed.
    Current: True

In [19]:
%config IPCompleter.greedy

True

In [20]:
named_area_usa = usa.subgeographies
named_area_usa

In [21]:
named_area_usa.states['California']

In [22]:
named_area_usa.states['California'].counties['San_Bernardino_County']

In [23]:
named_area_usa.states['California'].counties['San_Bernardino_County'].tracts['060710001.03']

In [24]:
usa.subgeographies.states['California'].zip5['92373']

**The named areas can also be drawn on a map, as they include a `geometry` property:**

In [31]:
redlands = gis.map('Redlands, CA', zoomlevel=11)
redlands

MapView(layout=Layout(height='400px', width='100%'))

In [32]:
# Draw a subgeography on the map above
redlands.draw(usa.subgeographies.states['California'].zip5['92373'].geometry)

In [37]:
india_map = gis.map('India', zoomlevel=5)
india_map

MapView(layout=Layout(height='400px', width='100%'))

In [38]:
india = Country.get('India')

In [39]:
# Print the available datasets
india.properties.datasets

['IND_MBR_2020']

In [40]:
# View the current dataset of the country
india.dataset

'IND_MBR_2020'

In [41]:
# Inspect the various subgeographies
india.subgeographies.states['Uttar_Pradesh'].districts['Baghpat'].subdistricts['Baraut']

### 7. Searching for named areas within a country

In [42]:
riversides_in_usa = usa.search('Riverside')
print("Number of riversides in USA: " + str(len(riversides_in_usa)))

Number of riversides in USA: 147

In [43]:
# List a few of them
riversides_in_usa[:5]

[<NamedArea name:"Riverside" area_id="147435", level="Cities", country="147">,
 <NamedArea name:"Riverside" area_id="147436", level="Cities", country="147">,
 <NamedArea name:"Riverside" area_id="147437", level="Cities", country="147">,
 <NamedArea name:"Riverside" area_id="147438", level="Cities", country="147">,
 <NamedArea name:"Riverside" area_id="147439", level="Cities", country="147">]

**You can make a map of all the riversides in the US:**

In [44]:
usa_map = gis.map('United States', zoomlevel=4)
usa_map

MapView(layout=Layout(height='400px', width='100%'))

In [45]:
# Draw on the map above
for riverside in riversides_in_usa:
    usa_map.draw(riverside.geometry)

**Filtering named areas by geography level:**

In [46]:
usa_levels = [level for level in usa.levels]
usa_levels

[{'id': 'US.WholeUSA',
  'name': 'Entire Country',
  'isWholeCountry': True,
  'adminLevel': 'Admin1',
  'singularName': 'United States of America',
  'pluralName': 'United States of America',
  'defaultGeneralizationLevel': 6},
 {'id': 'US.States',
  'name': 'States',
  'isWholeCountry': False,
  'adminLevel': 'Admin2',
  'singularName': 'State',
  'pluralName': 'States',
  'defaultGeneralizationLevel': 5},
 {'id': 'US.DMA',
  'name': 'DMAs',
  'isWholeCountry': False,
  'adminLevel': '',
  'singularName': 'DMA',
  'pluralName': 'DMAs',
  'description': 'A Designated Market Area (DMA), also referred to as a media market, is a region of the United States that is used to define television and radio markets. DMAs are determined by the Nielsen Company and are usually defined based on metropolitan areas, with suburbs often being combined within. Esri creates these boundaries by dissolving the TIGER 2019 Block Groups with Esri modified Shoreline.',
  'defaultGeneralizationLevel': 2},
 {'id': 'US.CD',
  'name': 'Congressional Districts',
  'isWholeCountry': False,
  'adminLevel': '',
  'singularName': 'Congressional District',
  'pluralName': 'Congressional Districts',
  'defaultGeneralizationLevel': 2},
 {'id': 'US.CBSA',
  'name': 'CBSAs',
  'isWholeCountry': False,
  'adminLevel': '',
  'singularName': 'CBSA',
  'pluralName': 'CBSAs',
  'description': 'Core-Based Statistical Areas (CBSAs) are comprised of Metropolitan and Micropolitan Statistical Areas. Metropolitan statistical areas have at least one urbanized area of 50,000 or more population and Micropolitan statistical areas have at least one urban cluster of at least 10,000 but less than 50,000 population. CBSAs are defined by the Office of Management and Budget (OMB) and are comprised of whole counties and Esri created these boundaries by dissolving the TIGER 2019 County Boundaries with Esri modified shoreline.',
  'defaultGeneralizationLevel': 2},
 {'id': 'US.Counties',
  'name': 'Counties',
  'isWholeCountry': False,
  'adminLevel': 'Admin3',
  'singularName': 'County',
  'pluralName': 'Counties',
  'defaultGeneralizationLevel': 0},
 {'id': 'US.CSD',
  'name': 'County Subdivisions',
  'isWholeCountry': False,
  'adminLevel': '',
  'singularName': 'County Subdivision',
  'pluralName': 'County Subdivisions',
  'minScale': 1155581,
  'defaultGeneralizationLevel': 0},
 {'id': 'US.ZIP5',
  'name': 'ZIP Codes',
  'isWholeCountry': False,
  'adminLevel': 'Admin4',
  'singularName': 'ZIP Code',
  'pluralName': 'ZIP Codes',
  'minScale': 1155581,
  'defaultGeneralizationLevel': 0},
 {'id': 'US.Places',
  'name': 'Cities and Towns (Places)',
  'isWholeCountry': False,
  'adminLevel': '',
  'singularName': 'Place',
  'pluralName': 'Places',
  'minScale': 2311162,
  'defaultGeneralizationLevel': 0},
 {'id': 'US.Tracts',
  'name': 'Census Tracts',
  'isWholeCountry': False,
  'adminLevel': '',
  'singularName': 'Census Tract',
  'pluralName': 'Census Tracts',
  'minScale': 1155581,
  'defaultGeneralizationLevel': 0},
 {'id': 'US.BlockGroups',
  'name': 'Block Groups',
  'isWholeCountry': False,
  'adminLevel': '',
  'singularName': 'Block Group',
  'pluralName': 'Block Groups',
  'minScale': 288895,
  'defaultGeneralizationLevel': 0}]

In [47]:
usa_levels_ids = [level['id'] for level in usa.levels]
usa_levels_ids

['US.WholeUSA',
 'US.States',
 'US.DMA',
 'US.CD',
 'US.CBSA',
 'US.Counties',
 'US.CSD',
 'US.ZIP5',
 'US.Places',
 'US.Tracts',
 'US.BlockGroups']

In [48]:
usa.search(query='Riverside', layers=['US.Counties'])

### 8. Working with study Areas

**GeoEnrichment** uses the concept of a **study area** to define the location of the point or area that you want to enrich with additional information or create reports about.

Accepted forms of **study areas**:
- **Street address locations**: `"380 New York St, Redlands, CA"`
- **Multiple field input addresses** (using dictionaries): `{"Address" : "380 New York Street", "City" : "Redlands", "Region" : "CA", "Postal" : 92373}`
- **Point and line locations, using `arcgis.geometry` instances**: `arcgis.geometry.Geometry({"x":-122.435,"y":37.785})`
- **Buffered study areas**: `BufferStudyArea` instances to change the ring buffer size or create drive-time service areas around points specified using one of the above methods. BufferStudyArea allows you to buffer point and street address study areas. *They can be created using the following parameters*:
  - *area*: the point geometry or street address (string) study area to be buffered
  - *radii*: list of distances by which to buffer the study area, eg. [1, 2, 3]
  - *units*: distance unit, eg. Miles, Kilometers, Minutes (when using drive times/travel_mode)
  - *overlap*: boolean, uses overlapping rings/network service areas when True, or non-overlapping disks when False
  - *travel_mode*: None or string, one of the supported travel modes when using network service areas

- **Network service areas** - `BufferStudyArea` also allows you to define drive time service areas around points as well as other advanced service areas such as walking and trucking.
- **Named statistical areas** - In all previous examples of different **study area** types, locations were defined as either points or polygons. Study area locations can also be passed as one or many named statistical areas. This form of study area lets you define an area as a standard geographic statistical feature, such as a census or postal area, for example, to obtain enrichment information for a U.S. state, county, or ZIP Code or a Canadian province or postal code. When the `NamedArea` instances should be combined together (union), a list of such `NamedArea` instances should constitute a study area in the list of requested study areas.
- **Polygon geometries** - Locations can given as polygon geometries.

In [49]:
from arcgis.geometry import Geometry

In [50]:
# Buffered study areas. Example:
geometry1 = Geometry({"x":-122.435,"y":37.785})
buffered_area1 = BufferStudyArea(area=geometry1, radii=[1,2,3], units="Miles", overlap=False)
buffered_area1

BufferStudyArea(area={'x': -122.435, 'y': 37.785}, radii=[1, 2, 3], units='Miles', overlap=False, travel_mode=None)

In [51]:
# Network service areas. Example:
geometry2 = Geometry({"x":-122.435,"y":37.785})
buffered_area2 = BufferStudyArea(area=geometry2, radii=[1,4,7], units="Minutes", travel_mode="Driving")
buffered_area2

BufferStudyArea(area={'x': -122.435, 'y': 37.785}, radii=[1, 4, 7], units='Minutes', overlap=True, travel_mode='Driving')

In [52]:
# Named statistical areas. Example:
usa.subgeographies.states['California'].zip5['92373']

### 9. Creating Reports

The `create_report` method allows you to create many types of high quality reports for a variety of use cases describing the input area.

If a point is used as a study area, the service will create a **1 mile ring buffer** around the point to collect and append **enrichment data**. Optionally, you can create a buffer ring or drive time service area around points of interest to generate **PDF** or **Excel** reports containing relevant information for the area on demographics, consumer spending, tapestry market, etc.

In [53]:
report = create_report(
    study_areas=["380 New York Street, Redlands, CA"],
    report="tapestry_profileNEW",
    export_format="PDF",
    out_folder=r".\reports",
    out_name="esri_tapestry_profile.pdf"
)

report

'.\\reports\\esri_tapestry_profile.pdf'

### 10. Enriching study areas

The `enrich()` method returns a `SpatialDataFrame` that can either be used for mapping via the `gis.content.import_data()` method or for further analysis. If `return_geometry` is set to `False`, a Pandas DataFrame is returned instead.

**Enriching an existing feature layer**: The examples to be shown below return you a new `SpatialDataFrame` that you can save as a new `Item` in your GIS, use for analysis or visualize on a map. However, if you would like to enrich an existing `FeatureLayer` by adding new data, then use the `enrich_layer()` method from the `features` module.

**Example: Enriching a named statistical area**  
Enriching *zip code 92373* in California using the *'Age'* data collection:

In [54]:
redlands = usa.subgeographies.states['California'].zip5['92373']
redlands

In [55]:
enriched_redlands = enrich(study_areas=[redlands], data_collections=['Age'])
enriched_redlands

,ID,OBJECTID,StdGeographyLevel,StdGeographyName,StdGeographyID,sourceCountry,aggregationMethod,populationToPolygonSizeRating,apportionmentConfidence,HasData,...,FEM45,FEM50,FEM55,FEM60,FEM65,FEM70,FEM75,FEM80,FEM85,SHAPE
0,0,1,US.ZIP5,Redlands,92373,US,Query:US.ZIP5,2.191,2.576,1,...,1056,1106,1158,1234,1127,982,673,471,699,"{""rings"": [[[-117.23452000005528, 34.065769999..."

**Example: Enrich all counties in a state**

In [56]:
ca_counties = usa.subgeographies.states['California'].counties

In [61]:
counties_df = enrich(study_areas=ca_counties, data_collections=['Age'])
counties_df.head(10)

,ID,OBJECTID,StdGeographyLevel,StdGeographyName,StdGeographyID,sourceCountry,aggregationMethod,populationToPolygonSizeRating,apportionmentConfidence,HasData,...,FEM45,FEM50,FEM55,FEM60,FEM65,FEM70,FEM75,FEM80,FEM85,SHAPE
0,0,1,US.Counties,Alameda County,06001,US,Query:US.Counties,2.191,2.576,1,...,54137,52917,54513,51522,44475,36609,24113,15817,18673,"{""rings"": [[[-122.2716789998329, 37.9047240001..."
1,1,2,US.Counties,Alpine County,06003,US,Query:US.Counties,2.191,2.576,1,...,28,38,48,41,65,28,21,13,6,"{""rings"": [[[-119.90059599883206, 38.930759999..."
2,2,3,US.Counties,Amador County,06005,US,Query:US.Counties,2.191,2.576,1,...,990,1146,1548,1848,1721,1582,998,693,718,"{""rings"": [[[-120.07763899965389, 38.708886999..."
3,3,4,US.Counties,Butte County,06007,US,Query:US.Counties,2.191,2.576,1,...,5120,5507,6507,6933,6625,5496,3751,2502,3350,"{""rings"": [[[-121.4046210002662, 40.1466409995..."
4,4,5,US.Counties,Calaveras County,06009,US,Query:US.Counties,2.191,2.576,1,...,1309,1644,2130,2387,2428,2078,1191,686,685,"{""rings"": [[[-120.07246000003855, 38.509156000..."
5,5,6,US.Counties,Colusa County,06011,US,Query:US.Counties,2.191,2.576,1,...,608,605,628,615,576,486,300,182,237,"{""rings"": [[[-122.12562700045578, 39.414592999..."
6,6,7,US.Counties,Contra Costa County,06013,US,Query:US.Counties,2.191,2.576,1,...,35884,37362,39584,38547,33758,27941,18389,12186,14533,"{""rings"": [[[-121.58224999909734, 38.094889999..."
7,7,8,US.Counties,Del Norte County,06015,US,Query:US.Counties,2.191,2.576,1,...,673,845,982,1053,911,779,518,320,314,"{""rings"": [[[-123.5179109993812, 42.0007559996..."
8,8,9,US.Counties,El Dorado County,06017,US,Query:US.Counties,2.191,2.576,1,...,6113,6969,8220,8406,7355,5803,3684,2254,2387,"{""rings"": [[[-120.00241734223947, 39.067488696..."
9,9,10,US.Counties,Fresno County,06019,US,Query:US.Counties,2.191,2.576,1,...,26304,25685,27071,25989,22720,18332,12482,8170,9644,"{""rings"": [[[-119.00146499951879, 37.570897000..."

In [86]:
m = gis.map('California')
m

MapView(layout=Layout(height='400px', width='100%'))

In [89]:
#lyr = gis.content.import_data(df=counties_df, title="CA county population")  # do not work!

In [92]:
#m.add_layer(lyr.layers[0], {'renderer': 'ClassedColorRenderer', 'field_name':'FEM0'})  # do not work!

**Example: Using comparison levels**

The information for the study areas can also be compared with standard geography areas in other levels. In the example below, the `92373 zip code` intersects with both `Riverside` and `San Bernardino` counties in California, and hence both these counties as well as the state of California are returned along with the results for the named zip code, as the comparison levels includes both States and Counties.

In [65]:
enrich(
    study_areas=[redlands], 
    data_collections=['Age'], 
    comparison_levels=['US.Counties', 'US.States']
)

,ID,OBJECTID,StdGeographyLevel,StdGeographyName,StdGeographyID,sourceCountry,aggregationMethod,populationToPolygonSizeRating,apportionmentConfidence,HasData,...,FEM45,FEM50,FEM55,FEM60,FEM65,FEM70,FEM75,FEM80,FEM85,SHAPE
0,0,1,US.ZIP5,Redlands,92373,US,Query:US.ZIP5,2.191,2.576,1,...,1056,1106,1158,1234,1127,982,673,471,699,"{""rings"": [[[-117.23452000005528, 34.065769999..."
1,0,2,US.Counties,Riverside County,06065,US,Query:US.Counties,2.191,2.576,1,...,69773,69228,71626,69388,61325,52276,37158,24805,25568,NaN
2,0,3,US.Counties,San Bernardino County,06071,US,Query:US.Counties,2.191,2.576,1,...,63503,62699,64570,60968,50621,38877,25284,16071,16304,NaN
3,0,4,US.States,California,06,US,Query:US.States,2.191,2.576,1,...,1183234,1188505,1232694,1193385,1032496,849680,579334,385741,444788,NaN

**Example: Enriching street address**

The example below uses a street address as a study area instead.

In [66]:
enrich(
    study_areas=["380 New York St Redlands CA 92373"],       
    data_collections=['Age'], 
    comparison_levels=['US.Counties', 'US.States']
)

,ID,OBJECTID,sourceCountry,X,Y,areaType,bufferUnits,bufferUnitsAlias,bufferRadii,aggregationMethod,...,FEM45,FEM50,FEM55,FEM60,FEM65,FEM70,FEM75,FEM80,FEM85,SHAPE
0,0,1,US,-117.19479,34.057265,RingBuffer,esriMiles,Miles,1.0,BlockApportionment:US.BlockGroups;PointsLayer:...,...,366,382,369,342,315,264,162,100,125,"{""rings"": [[[-117.19479001927878, 34.071773611..."
1,0,2,US,-117.19479,34.057265,NaN,NaN,NaN,NaN,Query:US.Counties,...,63503,62699,64570,60968,50621,38877,25284,16071,16304,NaN
2,0,3,US,-117.19479,34.057265,NaN,NaN,NaN,NaN,Query:US.States,...,1183234,1188505,1232694,1193385,1032496,849680,579334,385741,444788,NaN

**Example: Buffering locations using non overlapping disks (Ð½ÐµÐ¿ÐµÑ€ÐµÐºÑ€Ñ‹Ð²Ð°ÑŽÑ‰Ð¸ÐµÑÑ Ð´Ð¸ÑÐºÐ¸)**

The example below creates non-overlapping disks of radii 1, 3 and 5 Miles respectively from a street address and enriches these using the 'Age' data collection.

In [67]:
buffered = BufferStudyArea(
    area='380 New York St Redlands CA 92373',
    radii=[1,3,5], 
    units='Miles', 
    overlap=False
)

enrich(
    study_areas=[buffered], 
    data_collections=['Age']
)

,ID,OBJECTID,sourceCountry,X,Y,areaType,bufferUnits,bufferUnitsAlias,bufferRadii,aggregationMethod,...,FEM45,FEM50,FEM55,FEM60,FEM65,FEM70,FEM75,FEM80,FEM85,SHAPE
0,0,1,US,-117.19479,34.057265,RingBufferBands,Miles,Miles,1,BlockApportionment:US.BlockGroups;PointsLayer:...,...,366,382,369,342,315,264,162,100,125,"{""rings"": [[[-117.19479001927878, 34.071773611..."
1,0,2,US,-117.19479,34.057265,RingBufferBands,Miles,Miles,3,BlockApportionment:US.BlockGroups;PointsLayer:...,...,1925,1918,2015,2119,1821,1473,1014,721,947,"{""rings"": [[[-117.19479001927878, 34.100790740..."
2,0,3,US,-117.19479,34.057265,RingBufferBands,Miles,Miles,5,BlockApportionment:US.BlockGroups;PointsLayer:...,...,2312,2391,2534,2448,2048,1604,1102,799,1061,"{""rings"": [[[-117.19479001927878, 34.129807732..."

**Example: Using drive times as study areas**

The example below creates 5 and 10 minute drive times from a street address and enriches these using the 'Age' data collection.

In [68]:
buffered = BufferStudyArea(
    area='380 New York St Redlands CA 92373', 
    radii=[5, 10], 
    units='Minutes',
    travel_mode='Driving'
)

drive_time_df = enrich(
    study_areas=[buffered], 
    data_collections=['Age']
)

In [69]:
drive_time_df

,ID,OBJECTID,sourceCountry,X,Y,areaType,bufferUnits,bufferUnitsAlias,bufferRadii,aggregationMethod,...,FEM45,FEM50,FEM55,FEM60,FEM65,FEM70,FEM75,FEM80,FEM85,SHAPE
0,0,1,US,-117.19479,34.057265,NetworkServiceArea,Minutes,Drive Time Minutes,5,BlockApportionment:US.BlockGroups;PointsLayer:...,...,475,489,489,456,418,345,222,144,188,"{""rings"": [[[-117.19996384486102, 34.076283040..."
1,0,2,US,-117.19479,34.057265,NetworkServiceArea,Minutes,Drive Time Minutes,10,BlockApportionment:US.BlockGroups;PointsLayer:...,...,2795,2794,2921,2979,2564,2095,1422,1027,1496,"{""rings"": [[[-117.19345108869554, 34.134673265..."

**Visualize results on a map**

The returned spatial (Ð¿Ñ€Ð¾ÑÑ‚Ñ€Ð°Ð½ÑÑ‚Ð²ÐµÐ½Ð½Ñ‹Ð¹) dataframe can be visualized on a map as shown below:

In [74]:
redlands_map = gis.map('Redlands, CA')
redlands_map.basemap = 'dark-gray-vector'
redlands_map

MapView(layout=Layout(height='400px', width='100%'))

In [93]:
drive_time_df

,id,objectid,source_country,x,y,area_type,buffer_units,buffer_units_alias,buffer_radii,aggregation_method,...,fem45,fem50,fem55,fem60,fem65,fem70,fem75,fem80,fem85,SHAPE
0,0,1,US,-117.19479,34.057265,NetworkServiceArea,Minutes,Drive Time Minutes,5,BlockApportionment:US.BlockGroups;PointsLayer:...,...,475,489,489,456,418,345,222,144,188,"{""rings"": [[[-117.19996384486102, 34.076283040..."
1,0,2,US,-117.19479,34.057265,NetworkServiceArea,Minutes,Drive Time Minutes,10,BlockApportionment:US.BlockGroups;PointsLayer:...,...,2795,2794,2921,2979,2564,2095,1422,1027,1496,"{""rings"": [[[-117.19345108869554, 34.134673265..."

In [96]:
#redlands_map.draw(drive_time_df.to_featureset())  # do not work!

### 11. Saving GeoEnrichment Results

The results can be saved back to a GIS as a feature layer.

In [99]:
# Example: Save Data to a Feature Layer
#gis.content.import_data(df=drive_time_df, title="Age statistics within 5,10 minutes of drive time from Esri")  # do not work!